$background-primary: #15181d;
$background-secondary: #20282e;
$background-tertiary: #34475c;
$background-tertiary-hover: #415973;

$color-gray: #dfdfde;
$color-orange: #f3a366;
$color-red: #7b0100;
$color-green: #92f073;
$color-white: #e6f3ff;
